bibbase_header {
    display: none;
    text-decoration: none;
}

img.bibbase_icon {
    display: none;
}

.bibbase_group {
    color: #C41E3A;
    cursor: pointer;
    font-weight: normal;
}

.bibbase_group::before {
    border-top: none;
}

.bibbase_group::after {
    border-top: none;
}

/*
.bibbase_paper_title {
    font-weight: normal !important;
}

.bibbase_group_body {
    margin-left: 20px;
}

br.bibbase_paper_content {
    display: none;
}

.bibbase_group_count {
    display: none;
} */
